body {
  background-color: hsl(0 0% 10%);
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1 {
  font-size: 1.4rem;
  color: white;
}
button {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.addButton {
  background-color: rgb(81, 213, 81);
  margin-left: 10px;
}
.addButton:hover {
  background-color: rgb(61, 170, 61);
}
.deleteButton {
  background-color: #ff3131;
}
.deleteButton:hover {
  background-color: #d61c1c;
}
.moveButton {
  background-color: rgb(39, 165, 249);
}
.moveButton:hover {
  background-color: rgb(31, 138, 209);
}

input[type="text"] {
  font-size: 1.4rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 20%, 0.5);
}
ol {
  padding: 0;
}
li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 90%);
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text {
  flex: 1;
}
.deleteButton,
.moveButton {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}
